<div class="container">
  <div class="movie-container">
    <div class="title">El Exorcista</div>
    <div class="description">
      <p>
        El Exorcista narra la historia de Regan MacNeil, una niña de 12 años <br>
        que comienza a experimentar comportamientos extraños y violentos,<br>
        incluyendo la posesión demoníaca. Su madre, Chris MacNeil, <br>
        busca respuestas médicas sin éxito, lo que la lleva <br>
        a recurrir a la Iglesia Católica en busca de ayuda.
      </p>

      <br>

      <p>
        Genero: Terror
        <br>
        Duración: 2h
        <br>
        Fecha estreno: 15/06/25
      </p>
      <div class="colors-container">
        <p>La paleta de colores utilizada es la siguiente:</p>
        <div class="color1"></div>
        <div class="color2"></div>
        <div class="color3"></div>
        <div class="color4"></div>
        <div class="color5"></div>
      </div>
    </div>

    <a href="/sala/4" class="sala_4">Comprar boleto(s)</a>

    <img src="../../../../assets/4/exor.jpg" alt="">

    <a href="/index">Volver</a>
  </div>
</div>
