<div class="post">
  <iframe width="360" height="315" src="https://www.youtube.com/embed/yjRHZEUamCc?si=oC2V47813G4VlB2W" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <iframe width="360" height="315" src="https://www.youtube.com/embed/zSWdZVtXT7E?si=t0bZH-x8x7-8IDgO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <iframe width="360" height="315" src="https://www.youtube.com/embed/6ZfuNTqbHE8?si=jA71gw-hgjUJO7Lk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <iframe width="360" height="315" src="https://www.youtube.com/embed/PIxpPMyGcpU?si=c56TLb89YIwM_yJX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <iframe width="360" height="315" src="https://www.youtube.com/embed/0pdqf4P9MB8?si=iPVmHpXpK65_-Aoy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<ul class="slides image-slider">
  <input type="radio" name="radio-btn" id="img-1" checked />
  <li class="slide-container">
  <div class="slide">
    <a href="/movies/1">
      <img src="../../../assets/1/john01.jpg" id="slide-1" alt="">
    </a>
  </div>
  <div class="nav">
    <label for="img-5" class="prev">&#x2039;</label>
    <label for="img-2" class="next">&#x203a;</label>
  </div>
  </li>

  <input type="radio" name="radio-btn" id="img-2" />
  <li class="slide-container">
      <div class="slide">
        <a href="/movies/2">
          <img src="../../../assets/2/main.jpg" id="slide-2" alt="">
        </a>
      </div>
  <div class="nav">
    <label for="img-1" class="prev">&#x2039;</label>
    <label for="img-3" class="next">&#x203a;</label>
  </div>
  </li>

  <input type="radio" name="radio-btn" id="img-3" />
  <li class="slide-container">
      <div class="slide">
        <a href="/movies/3">
          <img src="../../../assets/3/infi.jpg" id="slide-3" alt="">
        </a>
      </div>
  <div class="nav">
    <label for="img-2" class="prev">&#x2039;</label>
    <label for="img-4" class="next">&#x203a;</label>
  </div>
  </li>

  <input type="radio" name="radio-btn" id="img-4" />
  <li class="slide-container">
      <div class="slide">
        <a href="/movies/4">
          <img src="../../../assets/4/exor.jpg" id="slide-4" alt="">
        </a>
      </div>
  <div class="nav">
    <label for="img-3" class="prev">&#x2039;</label>
    <label for="img-5" class="next">&#x203a;</label>
  </div>
  </li>

  <input type="radio" name="radio-btn" id="img-5" />
  <li class="slide-container">
      <div class="slide">
        <a href="/movies/5">
          <img src="../../../assets/5/poster.jpg" id="slide-5" alt="">
        </a>
      </div>
  <div class="nav">
    <label for="img-4" class="prev">&#x2039;</label>
    <label for="img-1" class="next">&#x203a;</label>
  </div>
  </li>

  <li class="nav-dots">
    <label for="img-1" class="nav-dot" id="img-dot-1"></label>
    <label for="img-2" class="nav-dot" id="img-dot-2"></label>
    <label for="img-3" class="nav-dot" id="img-dot-3"></label>
    <label for="img-4" class="nav-dot" id="img-dot-4"></label>
    <label for="img-5" class="nav-dot" id="img-dot-5"></label>
  </li>
</ul>

<footer class="footer">
  <h1>
    <strong>¡Encuentranos aquí!</strong>
  </h1>
  <p>
    Facultad De Ingenieria UJAP
    2006, San Diego, Carabobo, Venezuela
  </p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3926.317751403736!2d-67.96482512586772!3d10.235936268932335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e805d285b1ce6cf%3A0xd2178130370b3268!2sFacultad%20De%20Ingenieria%20UJAP!5e0!3m2!1ses-419!2sve!4v1709598500833!5m2!1ses-419!2sve" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</footer>
