<div class="body">
  <div class="movie-container">
    <p> {{ movies[selectedMovieIndex].movieName }} </p>
  </div>
  <ul class="showcase">
    <li>
        <div class="seat"></div>
        <small>N/A</small>
    </li>
    <li>
        <div class="seat selected"></div>
        <small>Seleccionados</small>
    </li>
    <li>
        <div class="seat occupied"></div>
        <small>Reservados</small>
    </li>
  </ul>

  <div class="container">
    <div class="screen">
      <img [src]="movies[selectedMovieIndex].movieBannerImage">
    </div>

    <div *ngFor="let row of movies[selectedMovieIndex].seatRows" class="movie-row">
      <div *ngFor="let seat of getSeats(row.nOfSeats)" (click)="selectSeat(seat, row.row)" [ngClass]="{'seat': true, 'selected': seat.selected}">
        <span *ngIf="seat.selected"> S </span>
        <span *ngIf="row.row"> {{ row.row }} </span>
        <!-- <span *ngIf="seat.occupied"> 0 </span> -->
    </div>
    </div>
    <!-- <div class="movie-row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
    </div>
    <div class="movie-row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
    </div>
    <div class="movie-row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
    </div>
    <div class="movie-row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
    </div> -->
  </div>

  <p class="text">
    Has seleccionado <span id="count">{{ selectedSeats.length }}</span> asientos por un precio de $<span id="total">{{ getTotalCost() }}</span>
  </p>
</div>
