<div class="body">
  <div class="movie-container">
    <p> {{ movies[selectedMovieIndex].movieName }} </p>
  </div>

  <p class="cost">Precio por asiento: ${{ movies[selectedMovieIndex].ticketRate }} </p>

  <ul class="showcase">
    <li>
        <div class="seat"></div>
        <small>N/A</small>
    </li>
    <li>
        <div class="seat selected"></div>
        <small>Seleccionados</small>
    </li>
    <li>
        <div class="seat occupied"></div>
        <small>Reservados</small>
    </li>
  </ul>

  <div class="container">
    <div class="screen">
      <img [src]="movies[selectedMovieIndex].movieBannerImage">
    </div>

    <div *ngFor="let row of movies[selectedMovieIndex].seatRows" class="movie-row">
      <div class="row-info">{{ row.row }}</div>
      <div *ngFor="let seat of getSeats(row.nOfSeats, row.occupiedSeats); let i = index" (click)="selectSeat(seat, row.row)" [ngClass]="{'seat': true, 'selected': seat.selected, 'occupied': seat.occupied}">
        <span *ngIf="seat.selected"> S </span>
        <span class="seat-number">{{ i + 1 }}</span>
      </div>
    </div>
    <!-- <div class="movie-row" *ngFor="let row of movies[selectedMovieIndex].seatRows">
        <div class="seat"
        *ngFor="let seat of getSeats(row.nOfSeats, row.occupiedSeats)"
        [ngClass]="{ 'occupied': seat.occupied, 'selected-seat': seat.selected }"
        (click)="selectSeat(seat, row.row)">
        </div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
    </div> -->
    <!-- <div class="movie-row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
    </div>
    <div class="movie-row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
    </div>
    <div class="movie-row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
    </div>
  </div> -->

  <p class="text">
    Has seleccionado <span id="count">{{ selectedSeats.length }}</span> asientos por un precio de $<span id="total">{{ getTotalCost() }}</span>
  </p>
</div>
